node_modules
/gulp-build/
/public/dist/
/public/bower/
/js-lib/
/php-build/
/vendor/
/data/cache/**/**
!/data/cache/**/
/data/log/**/**
!/data/log/**/
/data/sample/**
!/data/sample/
/data/session/**
!/data/session/