node_modules
/_module/
/_views/
/gulp-src/
/gulp-build/
/js-lib/
/php-build/
/php-src/
/vendor/
/data/cache/**/**
!/data/cache/**/
/data/log/**/**
!/data/log/**/
/data/sample/**
!/data/sample/
/data/session/**
!/data/session/
.gitignore-dev
composer.phar
package.json
package-lock.json